<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresas">
    
    <select id="getAllEmpresas" resultType="pojos.Empresa"> 
        SELECT idEmpresa, empresa.nombre,nombreComercial, nombreRepresentante, email, direccion, codigoPostal,
        ciudad, telefono, web, RFC, estatus
        FROM empresa
        WHERE estatus = 1 
    </select>
    
    <insert id = "registrar" parameterType="pojos.Empresa" > 
    INSERT INTO empresa (idEmpresa, nombre, nombreComercial, nombreRepresentante, email, direccion, 
        codigoPostal, ciudad, telefono, web, RFC, estatus)
    VALUES (#{idEmpresa},#{nombre},#{nombreComercial}, #{nombreRepresentante}, #{email},#{direccion}, 
        #{codigoPostal}, #{ciudad}, #{telefono}, #{web}, #{RFC}, #{estatus})
    </insert>
    
    <update id="modificar" parameterType ="pojos.Empresa"> 
    UPDATE empresa SET nombre = #{nombre}, nombreComercial = #{nombreComercial}, 
    nombreRepresentante = #{nombreRepresentante}, email = #{email}, direccion = #{direccion},
    codigoPostal =#{codigoPostal}, ciudad =#{ciudad}, telefono =#{telefono}, web =#{web},
    RFC =#{RFC}, estatus =#{estatus}
    WHERE idEmpresa =#{idEmpresa}
    </update>
    
    <delete id="eliminar" parameterType="int">
    UPDATE empresa SET estatus = 2
    WHERE idEmpresa = #{idEmpresa}
    </delete> 
    
</mapper>