<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="usuarios">
    
    
    
    <select id="usuarioLogin" resultType="int" parameterType="pojos.Usuario" >
        SELECT idUsuario, nombre, apellidoPaterno, apellidoMaterno
        FROM usuario WHERE nombre = #{nombre} AND password = #{password}
    </select>
    
    <select id="usuarioLoginMovil" resultType="pojos.Usuario" parameterType="pojos.Usuario" >
        SELECT * FROM usuario WHERE nombre = #{nombre} AND password = #{password}
    </select>
    
    <select id="getById" resultType="pojos.Usuario" parameterType="int" >
        SELECT * FROM usuario WHERE idUsuario = #{idUsuario}
        
    </select>
    
    <select id="getAllUsuarios" resultType="pojos.Usuario"> 
       SELECT idUsuario,nombre, apellidoPaterno, apellidoMaterno, correo, password
        FROM usuario
    </select>
    
    <insert id = "registrar" parameterType="pojos.Usuario" > 
    INSERT INTO usuario (nombre, apellidoPaterno, apellidoMaterno, telefono ,correo, direccion, fechaNacimiento ,password)
    VALUES (#{nombre},#{apellidoPaterno}, #{apellidoMaterno}, #{telefono},#{correo}, #{direccion}, #{fechaNacimiento} ,#{password})
    </insert>
    
    <update id="modificar" parameterType ="pojos.Usuario"> 
    UPDATE usuario SET nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, 
    apellidoMaterno = #{apellidoMaterno}, correo =#{correo},password =#{password}
    WHERE idUsuario = #{idUsuario}
    </update>

    
    <update id="eliminar" parameterType="int">
        DELETE FROM usuario
        WHERE idUsuario = #{idUsuario}
    </update>
</mapper>